{% extends 'AdminBundle::admin.html.twig' %} {% block title %} Product -
Catalog Management {% endblock %} {% block name %}
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
	<div class="page-header pull-left">
		<div class="page-title">Catalog - Product</div>
	</div>
	<ol class="breadcrumb page-breadcrumb pull-right">
		<li><i class="fa fa-home"></i>&nbsp;<a
			href="{{ url('admin_homepage') }}">Home</a>&nbsp;&nbsp;<i
			class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
		<li class="hidden"><a href="#">Product-Catalog</a>&nbsp;&nbsp;<i
			class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
		<li class="active">Product-Catalog</li>
	</ol>
	<div class="clearfix"></div>
</div>
{% endblock %} {% block body %}
<div id="tab-general">
	<form action="{{ url('admin_insertCataProd') }}" class="form-horizontal" method="post">
		<div class="row mbl col-md-3">
			<select id="inputcid" name="inputcid" class="form-control">
				<option value="">Catalog</option> {% for c in catalog %}
				<option  value="{{ c.id }}">{{ c.name }}</option> {% endfor %}
			</select>
		</div>
		<div class="row mbl col-md-1"></div>
		<div class="row mbl col-md-3">
			<select id="inputpid" name="inputpid" class="form-control">
				<option value="">Product</option> {% for p in product %}
				<option  value="{{ p.id }}">{{ p.name }}</option> {% endfor %}
			</select>
		</div>
		<div class="row mbl col-md-1"></div>
		<div class="row mbl col-md-1">
			<input type="submit" class="btn btn-primary" name="submit" value="Add" />
		</div>
	</form>
</div>

{% endblock %}
